// Colors
$clr-purple-500: #6D72DE;
$clr-purple-gradient: linear-gradient(135deg, #A2A7F0 0.06%, #696EDD 100.06%);
$clr-grey-500: #4A4D60;
$clr-grey-400: #6E728E;

$clr-background: #F7F7FE;
$clr-white: #FFFFFF;

